#mcq{
    font-size: small;
  }
  .body1{
    background-image: url('https://www.wallpapertip.com/wmimgs/81-810240_3d-background-hd.jpg');
    width: 100%;
  }
  #name-box{
    margin-left: 160px;
    margin-right: 160px;
    color: beige;
    font-size: x-large;
  }
  #jnk{
      margin-left: 160px;
      margin-right: 160px;
      font-size: 20px;
  }
  #ghs{
      margin-left: 230px;

  }
  #jhg{
      margin-left: 255px;
  }
  #pop{
      font-size: 18px;

  }
  #pops{
color: beige;
  }
  #lkl{
      margin-left: 560px;
  }
#field-tick{
margin-left: 170px;
margin-right: 160px;
color: black;
font-size: x-large;
}
#bnj{
    /* text-align: center; */
    margin-left: 160px;
    font-size: 20px;
}
#hja{
    margin-left: 160px;
    font-size: 25px;
    font-style: oblique bold;
}

#form-box{
margin-top: 60px;
}
#welcome-msg{
margin-top: 130px;
color: beige;
text-align: center;
}